@import url(https://fonts.googleapis.com/css?family=Meddon);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300);
@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

body, ul, li {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ccc;
  font-family:'Open Sans', sans-serif;
}

header {
  width: 100%;
  height: 70px;
  box-sizing: border-box;
  background-color: #373948;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 0px 0px 0px 30px;
  z-index: 9999;
}

header h1 {
  float: left;
  margin: 5px 0px;
  color: white;
  font-family: 'Meddon', cursive;
}

header nav ul {
  height: 70px;
  float: right;
}

header nav ul li {
  height: 70px;
  display: inline-block;
}

header nav ul li a {
  height: 30px;
  display: block;
  padding: 17px 20px;
  color: white;
  font-size: 2.2em;
  text-decoration: none;
  border-top: 3px solid #373948;
  border-bottom: 3px solid #373948;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  -o-transition: color 1s ease;
  transition: color 1s ease;
}

header nav ul li a:hover{
  color: #373948;
}

header nav ul li a.active{
  height: 33px;
  border-bottom: none;
}

header nav ul li a.link-1 { background-color: #e9dada; }
header nav ul li a.link-2 { background-color: #c9dee1; }
header nav ul li a.link-3 { background-color: #c5d7b1; }
header nav ul li a.link-4 { background-color: #e3d6b2; }


section {
  width: 100%;
  height: 800px;
  box-sizing: border-box;
  padding: 20px;
  overflow: hidden;
}

section#home { background-color: #e9dada; margin-top: 70px;}
section#about { background-color: #c5d7b1; }
section#clients { background-color: #c9dee1; }
section#contact-us { background-color: #e3d6b2; }


section h2 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 3em;
    margin: 0px;
}

#church {
    height: 450px;
    padding-top: 50px;
}



.column2 {
    width: 46%;
    height: 200px;
    float: left;
    margin: 2%;
    position: relative;
    overflow: hidden;
}

.column2 iframe, .column2 object, .column2 embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
}

.row {
    width: 100%;
    position: relative;
}

.row:after {
    content: '';
    display: block;
    clear: both;
}

#AmyMegan {
    border-radius: 15px;
    border: green 4px solid;
    float: right;
    clear: both;
    width: 30%;
    margin-right: 40px;
    margin-top: 30px;
}

.abouttext{
    width: 60%;
} 

.abouttext p {
  padding: 50px;
  font-family: 'Open Sans', sans-serif;
}

#contact-form {
  max-width: 90%;
  margin: 0 auto;
}

label {
  font-weight: 400;
  cursor: pointer;
}

textarea,
input {
  border: none;
  outline: none;
  border-radius: 0;
  text-align: center;
  background: none;
  font-weight: 700;
  font-family: 'Lato', georgia;
  font-size: 25px;
  color: rgba(255, 255, 255, 1);
  max-width: 90%;
  padding: 1rem;
  border: 2px dashed rgba(255, 255, 255, 0);
  box-sizing: border-box;
  cursor: text;
}

textarea {
  text-align: left;
  /* overflow:hidden; */
  
  resize: none;
  width: 90%;
  border-color: rgba(255, 255, 255, 0)
}

textarea:focus {
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px dashed rgba(255, 255, 255, 1);
}

textarea:focus:required:valid {
  border: 2px solid rgba(255, 255, 255, 0);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

textarea:required:valid {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

input {
  border-bottom: 2px dashed rgba(255, 255, 255, 0.5);
}

input:required,
textarea:required {
  border-bottom: 2px dashed rgba(255, 255, 255, 0.5);
}

input:focus {
  border-bottom: 2px dashed rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.2);
}

input:required:valid {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

input:required:invalid {
  color: rgba(255, 255, 255, 0.5);
}

::-webkit-input-placeholder {
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-style: italic;
  font-weight: 400;
}

:-moz-placeholder {
  /* Firefox 18- */
  
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-style: italic;
  font-weight: 400;
}

::-moz-placeholder {
  /* Firefox 19+ */
  
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-style: italic;
  font-weight: 400;
}

:-ms-input-placeholder {
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-style: italic;
  font-weight: 400;
}

.expanding {
  vertical-align: top;
}

.send-icn {
  fill: rgba(255, 255, 255, 1)
}

.send-icn:hover {
  fill: rgba(0, 0, 0, 1);
  cursor: pointer;
}

button {
  background: none;
  border: none;
  outline: none;
  margin: 2vmax;
}

button:hover small {
  opacity: 1;
}

small {
  display: block;
  opacity: 0;
}

.website {
  opacity: 1;
  font-size: 16px;
  color: white;
  position: relative;
  text-align: center;
  display: block;
  margin-top: 7%;
  
}

.website a {
  color: white;
}

.footer {
    background-color: #373948;
    height: 150px;
    width: 110%;
    margin-left: -24px;
}

#sheila {
    border-radius: 15px;
    border: green 4px solid;
    float: right;
    clear: both;
    width: 30%;
    margin-right: 40px;
    margin-top: 20px;
}

@media screen and (max-width: 500px) {
  .abouttext p {
    font-size: 24px;
  }
  .videos{
  position: absolute;
  overflow: hidden;
  margin-left: 25%;
}

